@import "buttons";
@import "../local_variables.scss";

$button-r-width: 170px;

.btn-r-1 {
  @extend .btn;

  width: calc(
    (100% - 2*#{$sp-3}) / 2
  );
  text-align: center;
  margin-left: 0 !important;
  border-radius: $corner-radius !important;

  @include mq(lg) {
    width: $button-r-width;
    margin-left: 0;
  }
}

.btn-r-1.active {
  @extend .btn-primary;
  border-radius: $corner-radius !important;
}

.btn-r-2 {
  @extend .btn;

  width: calc(
    (100% - 2*#{$sp-3}) / 2
  );
  text-align: center;
  margin-left: 0 !important;
  border-radius: $corner-radius !important;

  @include mq(lg) {
    width: $button-r-width;
    margin-left: 0;
  }
}

.btn-r-2.active {
  @extend .btn-primary;
  border-radius: $corner-radius !important;
}

.btn-r-filler {
  display: inline-block;
  width: $sp-3;
}
