@import "../constants.scss";

.table-wrapper {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin-bottom: $sp-5;
  overflow-x: auto;
  border-radius: $corner-radius;
  box-shadow: $shadow-light;
}
