@import "../colors.scss";

.table-resource-new {
  table-layout: fixed;
  width: 100%;
}

.table-resource-new th {
  @include fs-4;
  text-align: left;
  border-bottom-width: 3px;
  border-bottom-color: $s-purple;
}

.table-resource-new td {
  @include fs-4;
  overflow-wrap: break-word;
  word-wrap: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  border-bottom: none;

  &:last-child {
    text-align: center;
  }
}

.table-resource {
  table-layout: fixed!important;
  width: 100%;
}

.table-resource th {
  @include fs-5;
  text-align: left;
  border-bottom-width: 3px;
  border-bottom-color: #a9a9a9;
}

.table-resource td {
  overflow-wrap: break-word;
  word-wrap: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  border-bottom: none;
}

.table-resource th:first-of-type {
  width: 20%;
}

.table-resource th:nth-of-type(2) {
  width: 33%;
}

.table-resource th:nth-of-type(3) {
  width: 33%;
}

.table-resource th:nth-of-type(4) {
  width: 14%;
}

.table-resource td img {
  height: 1.5em;
  width: auto;
}
