@import "../colors.scss";

.table-rating {
  table-layout: auto;
  width: 100%;
}

.table-rating th {
  @include fs-4;
  text-align: left;
  border-bottom-width: 3px;
  border-bottom-color: $s-purple;
}

.table-rating td {
  @extend .text-small;
  overflow-wrap: normal;
  word-wrap: normal;
  -ms-word-break: normal;
  word-break: normal;
  border-bottom: none;
}
