@import "buttons";
$button-width: 170px;

.btn-left {
  @extend .btn;
  @include btn-color($white, $purple-100);
  width: calc(
    (100% - #{$sp-3}) / 2
  );
  text-align: center;
  margin-left: 0;

  @include mq(lg) {
    width: $button-width;
    margin-left: 0;
  }
}

.btn-right {
  @extend .btn;
  width: calc(
    (100% - 3 * #{$sp-3}) / 2
  );
  text-align: center;

  @include mq(lg) {
    width: $button-width;
  }
}

.btn-whole {
  @extend .btn;
  @include btn-color($white, $purple-100);
  width: 100%;
  text-align: center;
  margin-left: 0;

  @include mq(lg) {
    width: $button-width;
    margin-left: 0;
  }
}

.btn-filler {
  display: inline-block;
  width: $sp-3;
}