// IMAGES
img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  height: 1.5em;
  width: auto;
}

.thumbnail {
  width: 360px;
  height: auto;
}

// TABLES
.table-about th {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}

.table-about td {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}

.table-about th {
  @include fs-5;
  text-align: left;
}

.table-about th:first-of-type {
  width: 14%;
}

.table-about th:nth-of-type(2) {
  width: 86%;
}

.table-about td {
  position: relative;
}

.table-about td img {
  position:absolute;
  width: 100%;
  height: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.table-about#table-about-without-timeline td img {
  position:relative;
  width: 100%;
  height: auto;
  -ms-transform: none;
  transform: none;
}

.table-resource {
  table-layout: fixed!important;
  width: 100%;
}

.table-resource th {
  @include fs-5;
  text-align: left;
  border-bottom-width: 3px;
  border-bottom-color: #a9a9a9;
}

.table-resource td {
  overflow-wrap: break-word;
  word-wrap: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  border-bottom: none;
}

.table-resource th:first-of-type {
  width: 20%;
}

.table-resource th:nth-of-type(2) {
  width: 33%;
}

.table-resource th:nth-of-type(3) {
  width: 33%;
}

.table-resource th:nth-of-type(4) {
  width: 14%;
}

.table-resource td img {
  height: 1.5em;
  width: auto;
}

.table-profile {
  table-layout: fixed!important;
  width: 100px!important;
  max-width: 100%;
}

.table-profile th {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.table-profile td {
  table-layout: fixed!important;
  border-left: none;
  border-right: none;
  width: 50px!important;
  max-width: 50px;
  min-width: 50px;
}

.table-profile td:first-of-type {
  width: 50px!important;
}

.table-profile td:nth-of-type(2) {
  width: 50px!important;
}

.table-profile td:first-of-type img {
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}

.table-profile td:nth-of-type(2) img {
  height: 9em;
  width: auto;
}

.table-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: $sp-5;
  overflow-x: auto;
  border-radius: 5;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12), 0 5px 1px rgba(0, 0, 0, 0.08);;
}

