@import "buttons";
@import "./snoidepaedia_buttons.scss";

#list-news {
  background-color: $s-lightergreen;
  padding: $sp-2;
  padding-left: $sp-7;
  border-radius: 16px;
}

.hidden-news {
  display: none;
}

.list-news-btn {
  @extend .btn-small-1;
}

#list-news-btn {
  display: none;
}