$s-white: #FFF !default;
$s-black: #181818 !default;
$s-lighterblue: #56b4e9 !default;
$s-lightblue: #2ba1e3 !default;
$s-blue: #0072b2 !default;
$s-yellow: #f0e442 !default;
$s-orange: #e69f00 !default;
$s-lightergreen: #ecfcfa !default;
$s-lightgreen: #46e5cf !default;
$s-green: #009e73 !default;
$s-red: #d55e00 !default;
$s-purple: #cc79a7 !default;
