@import "snoidepaedia_colors";

.addition {
  @extend .text-small;

  margin-top: -1.2em;
  margin-bottom: -0.7em;
}

.addition-highlight {
  @include fs-3;

  margin-top: -1em;
  margin-bottom: $font-size-6;
  color: $s-red;
}