.login-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  width: 600px;
  padding: 0px;
  flex-direction: column;
}

.login-header {
  display: block;
  text-align: left;
  width: 100%;
  min-height: 80px;
  height: 40px;
  max-height: 40px;
  margin-bottom: 20px;
}

.font-header {
  font-size: xxx-large;
  font-weight: 200;
  line-height: 0;
}