@import "../colors.scss";
@import "../constants.scss";

.iframe-pdf-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: $sp-5;
  margin-bottom: $sp-5;
  overflow-x: auto;
  background-color: $s-lightermagnenta;
  border-radius: $corner-radius;
  box-shadow: $shadow;
}
